@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/roboto-black-webfont.eot");
url("../fonts/roboto-black-webfont") format("woff"),
url("../fonts/roboto-black-webfont") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/roboto-light-webfont.eot");
url("../fonts/roboto-light-webfont") format("woff"),
url("../fonts/roboto-light-webfont") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Medium";
    src: url("../fonts/roboto-medium-webfont.eot");
url("../fonts/roboto-medium-webfont") format("woff"),
url("../fonts/roboto-medium-webfont") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/roboto-regular-webfont.eot");
url("../fonts/roboto-regular-webfont") format("woff"),
url("../fonts/roboto-regular-webfont") format("truetype");
    font-style: normal;
    font-weight: normal;
}
header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    color: #666666;
    background-color: #fafafa;
    font-family: 'Roboto Light', Georgia, times, serif;
    font-size: 16px;
    outline: none;
    margin:0;
}

header {
    background-color: #0094cf;
    width: 100%;
}

.headerItems{
    max-width:1000px;
    width: 100%;
    margin: 0 auto;
    padding:30px 15px;
}

.logo{
    float:left;
}

.logo:hover{
   opacity: 0.8;
}

.logo a{
    display:inline-block;
}
.navItems {
    list-style: none;
    padding: 15px 0;
}

.navItems li{
    display: inline-block;

}

.navItems li a{
    font-size: 25px;
    color: #ffffff;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding:14px 20px;
    border: 1px solid transparent;
}

.navItems li a:hover{
    border: 1px solid #f5efec;
    border-radius:5px;
    opacity: 0.8;

}

.navigation{
    float: right;
}

.clearAfter::after {
    content: " ";
    clear: both;
    display: table;
}

.container{
    max-width: 1000px;
    margin:0 auto;
    padding: 0 10px;
    position:relative;

}

.propertySection{
    background-color: #2b2b2b;
    width: 100%;
}

.propertyContent{
    padding:50px 0 50px 0;
    margin: 0 auto;
    width: 500px;
    max-width:1170px;
    text-align: center;
    font-family: 'Roboto Light', Arial, sans-serif;

}
.propertyName{
    font-size:30px;
    color:#ffffff;
    font-weight: lighter;
}

.locationInfo {
    font-size: 18px;
    color: #cdcdcd;
    margin-top: 10px;
    font-weight: lighter;

}

/*!*is this correct to give general styles to div as the elements have some general styles?*!*/
.propertyDetails{
    display:inline-block;
    float:left;
    font-weight: lighter;
    color: #f34963;
    font-family: 'Roboto Light', Arial, sans-serif;
}

.propertyInfo{
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
    padding-top: 35px;

}

.propertyPrice{
    font-size: 40px;
}
.propertyTypes{
    display: inline-flex;
    float: right;
    margin: 17px;
}

.propertyTexts{
    float:right;
    margin-left: 15px;
    margin-top:5px;

}



.perDay{
    text-transform: uppercase;
    font-size: 14px;
}

.propertyType{
    margin-left:25px;
    display: flex;
    align-items: center;
}


.propCategory{
    font-size:12px;
    color: #0094cf;
    font-family: 'Roboto Bold', Arial, sans-serif;
    text-transform: uppercase;
}

.propCategoryNumber{
    color:#999999;
    font-family: 'Roboto Regular', Arial, sans-serif;
    font-size:14px;
    margin-top:5px;
}

.propertyMain{
    padding-top: 50px;
    float: left;
    width: 70%;
}

.slideshow{
    max-width: 650px;
    background-color: #efefef;
    padding: 10px;
    margin: 0 auto;
}

.rightSideContent{
    float:right;
    width:28%;
    padding-top: 30px;
}


.checkButton{
    padding: 12px 45px 12px 45px;
    text-align: center;
    background-color: #f34963;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto Regular', Arial, sans-serif;
}

.checkButton:hover{
    opacity: 0.8;
}

.dateSection{
    padding: 20px;
    border: 1px solid #efefef;
    margin: 25px 0;
}

.startDate{
    font-size:16px;
    color: #0094cf;
    font-family: 'Roboto Regular', Arial, sans-serif;
}

.day{
    font-size:70px;
    color:#f34963;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;

}

.dateDay{
    display:flex;
}

.monthYear{
    font-size: 24px;
    color: #f34963;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
    margin: 23px 5px;
    line-height: 1;
}

.notesSection {
    position: relative;
    border: 1px solid #0094cf;
    color:#0094cf;
    padding: 10px;
}
.notesSection:after, .notesSection:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.notesSection:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fafafa;
    border-width: 9px;
    margin-left: -11px;
}
.notesSection:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #0094cf;
    border-width: 11px;
    margin-left: -13px;
}

.notesSection .notes{
    font-size:16px;
    font-family: 'Roboto Medium', Arial, sans-serif;
    font-weight: bold;
}
.notesSection .notesText{
    font-size:14px;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
    padding-top: 5px;
}

.householderInfo{
    display: flex;
    padding: 20px;
    border: 1px solid #efefef;
    margin: 25px 0;
}

.householderImage{
    display: inline-block;
}

.householderImage img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px 0;
}

.householderImage a{
    display: inline-block;
}

.householderDetails{
    float: right;
    padding: 0 25px;
    margin: 5px 0;
}

.name {
    color: #f34963;
    font-size: 16px;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
}

.address{
    color: #999999;
    font-size: 12px;
    font-family: 'Roboto Medium', Arial, sans-serif;
}

.phoneNumber{
    color: #999999;
    font-size: 12px;
    font-family: 'Roboto Medium', Arial, sans-serif;
}

.phoneNumber i{
    margin-right:5px;
}

.householderDetails p{
    margin-bottom:5px;
}

.shareWith{
    padding: 20px;
    border: 1px solid #efefef;
    margin: 25px 0;
}
.shareWith p{
    font-size:16px;
    color: #0094cf;
    font-family:'Roboto Regular', Arial, sans-serif; ;
}
.shareWith li a{
    display: inline-block;
}

.shareWith li a:hover{
    opacity:0.8;
}
.socialIcons{
    list-style: none;
    padding-top: 15px
}

.socialIcons li{
    display: inline-block;
    margin-right: 13px;
}

.propertyDescription{
    padding-top: 25px;
}

 .amenities{
    font-size:28px;
    color: #0094cf;
    font-family:'Roboto Regular', Arial, sans-serif;
}

.propertyDescription p{
    font-size: 16px;
    color: #999999;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
    padding: 15px 0;
    line-height: 1.5;
}

.map{
    padding: 10px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

}

.amenitiesList{
    list-style: none;
    padding-top:25px;
}

.amenitiesLeft{
    float: left;
}

.amenitiesRight{
    float: right;
}

.amenitiesList li i{
    color:#999999;
    margin-right:10px;
}

.amenitiesList li{
    padding:10px;
}

footer{
    background-color: #343434;
    width: 100%;
    margin-top: 150px;
}

.footerSections{
    display: inline-flex;
    padding: 50px 0px;
    opacity: 0.8;
}

.company{
    margin-right: 130px;
}

.footerList{
    list-style: none;
}

.footerList li,a{
    margin: 10px 0;
    text-decoration: none;
    color:#ffffff;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
}

.footerList a:hover{
    opacity:0.8;
}

.socialIcons a:hover{
    opacity:0.8;
}

.footerHeading {
    color: #0094cf;
    font-family: 'Roboto Light', Arial, sans-serif;
}

.copyright{
    background-color: #2f2f2f;
    opacity: 0.8;
}

.copyright p{
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    font-family: 'Roboto Light', Arial, sans-serif;
    font-weight: lighter;
}

#image-gallery li{
    height: 445px;
}

